body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    border: solid darkred;
    display: flex;
    width: 400px;
    height: 400px;
}

.column {
    margin: 0px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.row {
    margin: 0px;
    display: flex;
    flex-grow: 1;
}

.black {
    background-color: black;
}
